/**
 * Main CSS
 * 
 */
 html {
    font-family: 'GRACE-Light';
}

body {
    margin: 0% 12% 0% 12%;
    height: 100%;
    margin-bottom: 2%;
}


h1 {
    font-family: 'GRACE-Black';
    font-size: 4.3em;
    margin: 0;
    line-height: 1.15em;
}

h2 {
    font-family: 'GRACE-Black';
    font-size: 2.3em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
}

h3 {
    font-family: 'GRACE-Black';
    font-size: 2.3em;
}


p {
    font-family: 'GRACE-Light';
    font-size: 1.25em;
    line-height: 1.35em;
    color: black;
    margin-bottom: 3%;
}


a {
    text-decoration: none;
}


main a {
    text-decoration: none;
    padding: 2px 0px 2px 0px;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 3px), rgb(0, 0, 0) calc(50% - 3px), rgba(255, 255, 255, 0.15) 100% );
    transition: background-position 320ms ease-in-out, padding 220ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
  }
  
  main a:hover {
    padding: 2px 0px 2px 0px;
    background-image: linear-gradient( transparent 0%, transparent calc(25% - 3px), rgb(0, 0, 0) calc(25% - 3px), rgb(255, 255, 255) 100% );
    background-position: 0 100%;
    color: aliceblue;
  }
  

  .citation_article {
    width: 95%;
    margin-top: 1%;
    margin-left: 1%;
    font-family: 'GRACE-ExtraLight';
    font-size: 1.75em;
    font-kerning: auto;
    line-height: 1.25em;
    color: darkblue;
  }

  .legend {
    font-size: 0.85em;
    margin-left: 1%;
  }


  .sidenote {
    grid-column: 2;
    font-family: 'GRACE-ExtraLight';
    font-size: 0.9em;
    line-height: 1.35em;
    color: blue;
    /*margin-top: 25px;*/
  }
  
  #sidenoteLink {
    font-family: 'GRACE-ExtraLight';
    color: red
    /*margin-left: 10%;*/
  }
  
  #sidenoteLink a:hover {
    background-color: gold;
  }

  /*
   * NAVIGATION  >>>>>>>>>>>
   */


header {
    display: block;
    text-align: left;
    margin-bottom: 10%;
    background-color: black;
}

header p {
    margin-right: 5%;
    padding: 1.5%;
    margin-bottom: 2%;
}

header a{
    font-family: 'GRACE-Black';
    font-size: 1.3em;
    color: white;
}

header a:hover{
    color:gold;
}


footer {
    font-family: 'GRACE-Black';
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
}

footer a{
    color: black;
    font-size: 1.15em;
}

footer a:hover{
    color: gold;
}

/**
 * special layout styles for Programs page
 * that act locally on className + propserty calls
 */


.programsContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1%;
    grid-row-gap: 2%;
    margin-top: 3%;
    margin-bottom: 10%;
}


.titles {
    background-color: black;
    padding: 0.5%;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin-top: 3%;
}

.card {
    /*position: relative;*/
    width: 88%;
    background-color: black;
    padding: 6%;

}

.container p {
    position: relative;
    font-size: 0.85em;
    color: white;

}

.card:hover img {
    opacity: 0.25;
    cursor: pointer;
}

img {
    opacity: 1;
    transition: .5s ease;
    width: 100%;
}

.link {
    text-decoration: none;
    font-size: 1.25em;
    color: black;
    -webkit-transition: none;
    transition: none;
}

.examplesContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1%;
    grid-row-gap: 2%;
    margin-top: 3%;
    margin-bottom: 10%;
}


.prmgtitle {
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    */
    background-color: rgb(250, 250, 253);
    font-family: 'GRACE-Light';
    font-size: 1.15em;
    line-height: 1.25em;
}

.prmgtitle p {
    margin: 0;
}

section{
    margin-bottom: 9%;
}

.textGrid_01 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2%;
    grid-column-gap: 5%;
    margin-bottom: 2%;
}

.textGrid_01 > p{
    margin: 0;
    margin-bottom: 0.20em;
}

#textGrid_02 {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2%;
}

#canvasGrid_01 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 2%;
    margin: 0;
}

@media only screen and (max-width: 820px) {

    /*body {background-color: lightblue;}*/
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.75em;
        line-height: 1.25em;
    }
}

@media (max-width: 425px) {
    body {
        margin: 5%;
        font-size: 1em;
        line-height: 1.2em;
    }

    p{
        font-family: 'GRACE-Regular';
        font-size: 1.15em;
        line-height: 1.45em;
        width: 350px;
    }

    h3{
        font-size: 1.75em;
        line-height: 1.05em;
    }

    .citation_article {
      font-size: 1.25em;
      line-height: 1.25em;
      width: 350px;
      margin-top: 0px;
    }
  
    .legend {
      font-size: 0.85em;
    }

    .titles{
        line-height: 1.25em;
        padding: 2%;
    }

    header p{
        font-size: 0.80em;
        margin: 0%;
        margin-top: 5%;
        text-align: left;       
    }

    footer {
        font-size: 0.75em;
    }

    h2{
        font-size: 1.35em; 
        padding: 5px;
    }

    h3{
        font-size: 1.3;
    }

    canvas{
        max-width: 350px;
        max-height: 350px;
    }

    #canvasGrid_01 {
        display: block;
        margin: 0;
    }

    .textGrid_01{
        display: block;
    }
    .textGrid_01 > p{
        margin-bottom: 2%;
    }

    .examplesContent {
        display: block;
        margin-bottom: 3%;
    }

    .programsContent{
        display: block;
         margin-bottom: 20%;
    }

    .prmgtitle {
        font-size: 0.95em;
        line-height: 1.35em;
        margin-bottom: 10%;
    }


    .prmgtitle  a{
        line-height: 2em;
    }

    .card{
        margin-bottom: 6%;
    }

    .container{
        font-size: 1.25em;
    }

    .sidenote{
        grid-column: 1;
        margin-bottom: 12%;
    }
}

@font-face {
    font-family: 'GRACE-ExtraLight';
    src: url('../font/GRACE_beta7-Extralight.otf') format('opentype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'GRACE-Black';
    src: url('../font/GRACE_beta1-Black.otf') format('opentype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'GRACE-Light';
    src: url('../font/GRACE_beta1-Extralight.otf') format('opentype');
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'GRACE-Regular';
    src: url('../font/GRACE_beta1-Regular.otf') format('opentype');
    text-rendering: optimizeLegibility;
}